<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>AR</string>
		<key>ServerName</key>
		<string>uswe1</string>
		<key>DisplayName</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>AU</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>AT</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>BH</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>BE</string>
		<key>DisplayName</key>
		<string>Belgium</string>
		<key>ServerName</key>
		<string>euce1</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>BR</string>
		<key>ServerName</key>
		<string>uswe1</string>
		<key>DisplayName</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>BN</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Brunei</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>CA</string>
		<key>ServerName</key>
		<string>uswe1</string>
		<key>DisplayName</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>CN</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>China</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>DK</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>EE</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>FI</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>FR</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>France</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>DE</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>HK</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Hong Kong</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>IS</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Iceland</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>IN</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>India</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>ID</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>IR</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Iran</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>IE</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>IL</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>IT</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>JP</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>KR</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Korea</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>KW</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>LU</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>MT</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>MX</string>
		<key>ServerName</key>
		<string>uswe1</string>
		<key>DisplayName</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>NL</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>NZ</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>NG</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>NO</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>OM</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>PL</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string> PT </string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string> QA </string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Qatar</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>RU</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Russian Federation</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>SA</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>SG</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Singapore</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>ES</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>SE</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>CH</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>TW</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Taiwan</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>TH</string>
		<key>ServerName</key>
		<string>apne2</string>
		<key>DisplayName</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>TR</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>AE</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>United Arab Emirates</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>GB</string>
		<key>ServerName</key>
		<string>euce1</string>
		<key>DisplayName</key>
		<string>United Kingdom</string>
	</dict>
	<dict>
		<key>ISO-3166-1CountryCode</key>
		<string>US</string>
		<key>ServerName</key>
		<string>uswe1</string>
		<key>DisplayName</key>
		<string>United States</string>
	</dict>
</array>
</plist>
